<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="net.seismos.android.seismos">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name=".global.GlobalApplicationState"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Launcher">

        <activity android:name=".ui.global.LauncherActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW"/>
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.global.DashActivityNav" android:screenOrientation="portrait"/>

        <activity android:name=".ui.global.DashActivity" android:screenOrientation="portrait"/>

        <activity android:name=".ui.onboarding.OnboardingActivity" android:screenOrientation="portrait"/>

        <activity android:name=".ui.map.EqDetailsActivity" android:screenOrientation="portrait"
            android:launchMode="singleTop"/>


        <activity android:name=".ui.alert.AlertActivity" android:screenOrientation="portrait"/>
        <activity android:name=".ui.store.StoreDetailActivity" android:screenOrientation="portrait" android:launchMode="singleTop"/>
        <activity android:name=".ui.home.UpgradeActivity" android:theme="@style/upgradeActivity" android:screenOrientation="portrait" android:launchMode="singleTop"/>

        <activity android:name=".ui.seismos.EqSafetyActivity" android:screenOrientation="portrait"/>

        <activity android:name=".ui.map.IFeltThisActivity" android:screenOrientation="portrait"/>

        <activity android:name=".ui.seismos.MissionSeismosActivity" android:screenOrientation="portrait"/>

        <activity android:name=".ui.seismos.NetworkStatusActivity" android:screenOrientation="portrait"/>

        <activity android:name=".ui.home.ScheduleActivity" android:screenOrientation="portrait"/>

        <activity android:name=".ui.map.AlertsActivity" android:screenOrientation="portrait"/>

        <activity android:name=".ui.map.FiltersActivity" android:screenOrientation="portrait"/>

        <activity android:name=".ui.social.AddFriendActivity" android:screenOrientation="portrait"/>

        <activity android:name=".ui.map.AddAlertZoneActivity" android:screenOrientation="portrait" />

        <activity android:name=".ui.seismos.MakeAPlanActivity" android:screenOrientation="portrait"/>

        <activity android:name=".ui.seismos.BuildAKitActivity" android:screenOrientation="portrait"/>

        <activity android:name=".ui.seismos.SecureYourHomeActivity" android:screenOrientation="portrait"/>

        <activity android:name=".ui.seismos.ProtectiveActionActivity" android:screenOrientation="portrait"/>

        <activity android:name=".ui.seismos.AfterTheEarthquakeActivity" android:screenOrientation="portrait"/>

        <activity android:name=".ui.seismos.FirstAidActivity" android:screenOrientation="portrait"/>

        <activity android:name=".ui.seismos.FindShelterActivity" android:screenOrientation="portrait"/>

        <activity android:name=".ui.seismos.VolunteerActivity" android:screenOrientation="portrait"/>

        
        <service android:name=".detection.DetectionService"  android:enabled="true"/>


        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />
        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <uses-library android:name="org.apache.http.legacy" android:required="false" />

    </application>
</manifest>